@import url('https://fonts.googleapis.com/css?family=Asap');

.platform-wrapper {
  display: grid;
  grid-template-columns: 20% 85%;
  grid-gap: 0.2em;
  /* grid-auto-rows: minmax(100vh, auto); */
  grid-auto-rows: 1fr;
  background-color: #333;
}

.platform-wrapper > div {
  background: #000;
  padding: 1em;
}

.platform-wrapper > div:nth-child(odd) {
  background: #000;
}

.left-scroll {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 2fr 1fr;
  grid-auto-rows: 10%;  
  grid-row-gap: 2em;
  overflow: hidden;
  overflow-y: scroll;
}

.left-scroll > a {
  display: grid;
  border: #333 1px solid;
  align-items: center;
  justify-content: center;
}

.main-app {
  display: grid;    
  grid-template-rows: 10% 85%;
  overflow: hidden;
  overflow-y: scroll; 
}

.main-app > div {
  border: #333 1px solid;
}

.thumbs {
  margin-left: 5%;
  margin-bottom: 5%;
  border-radius: 8px;
}

#logo {
  display: block;
  margin: 0 auto;
}
.starter-app-wrapper{
  overflow:hidden;
  overflow-y: scroll;
}

#clock {
  text-align: center;
  color: rgb(93, 160, 214);
  font-size: 7em;
  font-family: 'Asap', sans-serif;
  margin-top: 0px;
  padding-left: 0px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.default-thumb{
  background-color: #25a6ff;
  color: white;
  margin-left: 5%;
  width:75%;
  height: 9vh;
  border-radius: .2em;
  margin-bottom: 5%;
}

.default-thumb-h1{
  color: whitesmoke;
  padding-top: 2vh;
  padding-left: .8em;
}